<% if spree_current_user.wholesaler_or_lead? %>
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-left"><%= Spree.t(:line_sheets) %></h3>
    </div>
    <div class="col-xs-6 col-md-3">
      <%= link_to line_sheets_path("beach-jewellery") do %>
        <%= image_tag("", class: "img-responsive center-block lazyload", alt: "Lagoon Necklace", data: { src: image_path("LagoonNecklacev2.jpg") }) %>
        <div class="range-link text-center">Aqua Collection</div>
      <% end %>
    </div>
    <div class="col-xs-6 col-md-3">
      <%= link_to line_sheets_path("pearl-jewellery") do %>
        <%= image_tag("", class: "img-responsive center-block lazyload", alt: "Lagoon Necklace", data: { src: image_path("NautilusNecklace.jpg") }) %>
        <div class="range-link text-center">Nacre Collection</div>
      <% end %>
    </div>
    <div class="col-xs-6 col-md-3">
      <%= link_to line_sheets_path("concrete-jewellery") do %>
        <%= image_tag("", class: "img-responsive center-block lazyload", alt: "Mintabie Bangle", data: { src: image_path("Mintabie_Bangle.jpg") }) %>
        <div class="range-link text-center">Cluster Collection</div>
      <% end %>
    </div>
    <div class="col-xs-6 col-md-3">
      <%= link_to line_sheets_path("wood-and-resin-jewellery") do %>
        <%= image_tag("", class: "img-responsive center-block lazyload", alt: "Greywood Dangle Earrings in Violet", data: { src: image_path("LongLeafMahoganyPendant.jpg") }) %>
        <div class="range-link text-center">Ligno Collection</div>
      <% end %>
    </div>
  </div>
<% end %>
