<% if wholesaler_signed_in? %>
  <% if product.is_wholesaleable? && product.wholesale_price.present? %>
    <%= product.sku %>
    <div class="product-price price wholesale"><%= display_price(product, true) %></div>
    <span class="price retail" itemprop="price">MSRP <%= display_price(product, false) %></span>
    <div id="cart-form" data-hook="cart_form">
      <%= render :partial => 'spree/shared/cart_form', locals: {product: product} %>
    </div>
  <% end %>
<% else %>
  <span class="product-price price selling test" itemprop="price"><%= display_price(product) %></span>
<% end %>
