<% content_for :page_title do %>
  <%= Spree.t(:wholesalers) %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:new_wholesaler), new_object_url, icon: 'add', class: 'btn btn-success' %>
<% end %>

<% content_for :table_filter_title do %>
  <%= Spree.t(:search) %>
<% end %>

<% content_for :table_filter do %>
  <div data-hook="admin_users_index_search">
    <%= search_form_for [:admin, @search], url: spree.admin_wholesalers_url do |f| %>
      <div class="form-group">
        <%= f.label Spree.t(:company) %>
        <%= f.text_field :company_cont, class: "form-control js-quick-search-target" %>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label Spree.t(:buyer) %>
            <%= f.text_field :buyer_cont, :class => 'form-control' %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label Spree.t(:email) %>
            <%= f.text_field :user_email_cont, :class => 'form-control' %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <%= f.label Spree.t(:phone) %>
        <%= f.text_field :phone_cont, :class => 'form-control' %>
      </div>
      <div data-hook="admin_users_index_search_buttons" class="form-actions">
        <%= button Spree.t(:search), 'search' %>
      </div>
    <% end %>
  </div>
<% end %>


<table class="table" id="listing_wholesalers" data-hook>
  <thead>
  <tr>
    <th><%= sort_link @search, :company, t('wholesaler') %></th>
    <th><%= sort_link @search, :buyer, t('buyer') %></th>
    <th><%= sort_link @search, :user_email, t('email') %></th>
    <th><%= sort_link @search, :website, t('website') %></th>
    <th><%= sort_link @search, :phone, t('phone') %></th>
    <th><%= t('active') %></th>
    <th>
    </th>
  </tr>
  </thead>
  <tbody>
    <% @wholesalers.each do |wholesaler|%>
      <tr id="<%= dom_id wholesaler %>">
        <%- locals = {:wholesaler => wholesaler} %>
        <td><%= link_to wholesaler.company, edit_object_url(wholesaler) %></td>
        <td><%= wholesaler.buyer %></td>
        <td><%= link_to wholesaler.email, admin_user_path(wholesaler.user) %></td>
        <td><%= wholesaler.website %></td>
        <td><%= wholesaler.phone %></td>
        <td width="50px"><%= wholesaler.active? ? 'Yes' : 'No' %></td>
        <td>
          <%= render 'user_options', :wholesaler => wholesaler %>
          <%= link_to_edit wholesaler %> &nbsp;
          <%= link_to_delete wholesaler %> &nbsp;
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @wholesalers %>
