<div class="row">
  <div class="col-sm-12" data-hook="wholesaler-account">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title"><%= Spree.t(:wholesaler_account) %></h1>
      </div>
      <div class="panel-body" id="wholesaler-summary">
        <form class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label">Company</label>
            <div class="col-sm-10">
              <p class="form-control-static"><%= @wholesaler.company %></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Buyer</label>
            <div class="col-sm-10">
              <p class="form-control-static"><%= @wholesaler.buyer %></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Terms</label>
            <div class="col-sm-10">
              <p class="form-control-static"><%= @wholesaler.terms %></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Website</label>
            <div class="col-sm-10">
              <p class="form-control-static"><%= @wholesaler.website %></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Phone</label>
            <div class="col-sm-10">
              <p class="form-control-static"><%= @wholesaler.phone %></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Social Media</label>
            <div class="col-sm-10">
              <p class="form-control-static"><%= @wholesaler.social %></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Comments</label>
            <div class="col-sm-10">
              <p class="form-control-static"><%= @wholesaler.comments %></p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="rightie">

  <div class="adr">
    <h4><%= t("bill_address") %></h4>
    <%= render 'spree/admin/shared/address', :address => @wholesaler.bill_address %>
  </div>
  <div class="adr">
    <h4><%= t("ship_address") %></h4>
    <%= render 'spree/admin/shared/address', :address => @wholesaler.ship_address %>
  </div>

  <div class="adr">
    <h4><%= t("user_details") %></h4>
    <p>
      ID: <%= @wholesaler.user.id %>
      <br/>
      Email: <%= @wholesaler.user.email %>
      <br/>
      <%= link_to "view user", admin_user_path(@wholesaler.user) %> /
      <%= link_to "edit user", edit_admin_user_path(@wholesaler.user) %> /
      <%= render "user_options", :user => @wholesaler.user %>
    </p>
  </div>

</div>

<hr/>

<p>
  <%= link_to_edit @wholesaler %> <%= t('or') %>
  <%= link_to t('back'), collection_url %>
</p>
