<table class="row header">
  <tr>
    <td>
      <p>
        <%= Spree.t('wholesaler_mailer.approve_wholesaler_email.to', name: @wholesaler.buyer) %>
      </p>
      <p>
        <%= Spree.t('wholesaler_mailer.approve_wholesaler_email.outcome') %>
      </p>
      <p>
        <%= Spree.t('wholesaler_mailer.approve_wholesaler_email.order') %>
      </p>
      <p>
        <%= Spree.t('wholesaler_mailer.approve_wholesaler_email.contact') %>
      </p>
      <p>
        <%= Spree.t('wholesaler_mailer.approve_wholesaler_email.signoff') %>
      </p>
      <p>
        <%= Spree.t('wholesaler_mailer.approve_wholesaler_email.from') %>
    </td>
    <td class="expander"></td>
  </tr>
</table>
