<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <h1><%= t('Company Information') %></h1>
  </div>
</div>

<div class="row">
  <%= form_for @wholesaler, html: { class: "wholesaler-form" } do |form| %>
    <%= render "spree/shared/error_messages", :target => @wholesaler %>
    <div class="col-md-6" id="wholesaler-company-details">
      <%= render 'company_info', :form => form %>
    </div>
    <div class="col-md-6" id="wholesaler-address-details">
      <%= render "spree/shared/address_form", :form => form %>
    </div>
    <div class="well text-right form-buttons" data-hook="buttons">
      <%= form.submit t("wholesale_apply"), :class => 'btn btn-lg btn-success' %>
    </div>
  <% end %>
</div>
