<div id="checkout" class="container checkout" data-hook>
  <%= render partial: 'spree/shared/error_messages', locals: { target: @wholesaler } %>
  <% if spree_current_user.lead? %>
      <div class="col-lg-6 offset-lg-3 mb-5">
        <h3 class="spree-mb-large spree-mt-large spree-header"><%= Spree.t('registration_state.store') %></h3>
      </div>
  <% else %>
    <div class="row align-items-center flex-column checkout-header" data-hook="checkout_header">
      <div class="text-uppercase checkout-header-title">
        <h1 data-hook="application_title"><%= Spree.t('application_page.header') %></h1>
      </div>
      <div class="checkout-progress" data-hook="checkout_progress" role="navigation" aria-label="<%= Spree.t('checkout_page.checkout_navigation') %>">
        <%= registration_progress('store') %>
      </div>
    </div>
  <% end %>
  <div class="col-lg-6 offset-lg-3">
    <div id="new-wholesaler" data-hook="login">
      <%= form_for @wholesaler, html: { class: "wholesaler-form" } do |f| %>
        <div data-hook="wholesaler_inside_form">
          <%= render 'company_info', :form => f %>
          <div>
            <%= f.submit Spree.t(:next), :class => 'btn btn-primary btn-block spree-btn mb-5' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
