<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <h1><%= t('Company Information') %></h1>
  </div>
</div>

<div class="row">
  <div class="col-md-offset-3 col-md-6" id="wholesaler-details">
    <%= form_for @wholesaler, html: { class: "wholesaler-form" } do |form| %>
      <%= render "spree/shared/error_messages", :target => @wholesaler %>
      <%= render 'company_info', :form => form %>

      <p class="action">
        <%= form.submit t("wholesale_apply"), :class => 'btn btn-lg btn-success' %>
      </p>
    <% end %>
  </div>
</div>
