<h1><%= t("wholesaler_account") %></h1>
<div data-hook="company_details_well" class="well">
  <div class="row">
    <div class="col-sm-4">
      <h4><%= Spree.t('company_information') %></h4>
      <dl id="company_details">
        <dt>Company</dt>
        <dd><%= @wholesaler.company %></dd>
        <dt>Buyer</dt>
        <dd><%= @wholesaler.buyer %></dd>
        <dt>Phone</dt>
        <dd><%= @wholesaler.phone %></dd>
        <dt>Website</dt>
        <dd><%= @wholesaler.website %></dd>
        <% if @wholesaler.social.present? %>
          <dt>Social media</dt>
          <dd><%= @wholesaler.social %></dd>
        <% end %>
        <% if @wholesaler.comments.present? %>
          <dt>Comments</dt>
          <dd><%= simple_format @wholesaler.comments %></dd>
        <% end %>
      </dl>
    </div>
    <div class="col-sm-4">
      <div class="adr">
        <h4><%= t("bill_address") %></h4>
        <%= render 'spree/admin/shared/address', :address => @wholesaler.bill_address %>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="adr">
        <h4><%= t("ship_address") %></h4>
        <%= render 'spree/admin/shared/address', :address => @wholesaler.ship_address %>
      </div>
    </div>
  </div>
</div>
