<h1><%= t("wholesaler_account") %></h1>

<div class="leftie">

  <h5>Company:</h5>
  <h3><%= @wholesaler.company %></h3>

  <h5>Contact_person:</h5>
  <h3><%= @wholesaler.contact_person %></h3>

  <h5>Phone:</h5>
  <h3><%= @wholesaler.phone %></h3>

  <h5>Web_address:</h5>
  <h3><%= @wholesaler.web_address %></h3>

  <% if @wholesaler.social_media.present? %>
    <h5>Social_media:</h5>
    <h3><%= @wholesaler.social_media %></h3>
  <% end %>

  <% if @wholesaler.comments.present? %>
    <h5>Comments:</h5>
    <h3><%= simple_format @wholesaler.comments %></h3>
  <% end %>
</div>

<div class="rightie">

  <div class="adr">
    <h4><%= t("bill_address") %></h4>
    <%= render 'spree/admin/shared/address', :address => @wholesaler.bill_address %>
  </div>
  <div class="adr">
    <h4><%= t("ship_address") %></h4>
    <%= render 'spree/admin/shared/address', :address => @wholesaler.ship_address %>
  </div>
</div>

<hr/>
