<h1><%= t("wholesaler_account") %></h1>
<div data-hook="company_details_well" class="well">
  <div class="row">
    <div class="col-sm-4">
      <h4><%= Spree.t('company_information') %></h4>
      <p>
        <%= @wholesaler.company %><br/>
        <%= @wholesaler.buyer %><br/>
        <%= @wholesaler.phone %><br/>
        <%= @wholesaler.website %><br/>
        <% if @wholesaler.social.present? %>
          <%= @wholesaler.social %><br/>
        <% end %>
        <% if @wholesaler.comments.present? %>
          <%= simple_format @wholesaler.comments %><br/>
        <% end %>
      </p>
    </div>
    <div class="col-sm-4">
      <div class="adr">
        <h4><%= t("bill_address") %></h4>
        <%= render 'spree/admin/shared/address', :address => @wholesaler.bill_address %>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="adr">
        <h4><%= t("ship_address") %></h4>
        <%= render 'spree/admin/shared/address', :address => @wholesaler.ship_address %>
      </div>
    </div>
  </div>
</div>
